body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell,
    'Noto Sans', sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: #191c1f;
  color: #f5f6f7;
}

:root {
  --rdp-accent-color-light: var(--rdp-accent-color-dark);
  --rdp-accent-color-lighter: var(--rdp-accent-color-darker);
  --rdp-accent-color-lightest: var(--rdp-accent-color-darkest);
  --rdp-background-color: var(--rdp-background-color-dark);
}

.dialog-sheet {
  background: #191c1f;
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.3),
    0px 2px 4px -1px rgba(0, 0, 0, 0.4);
}
