body {
  margin: 1em;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell,
    'Noto Sans', sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: white;
}

.dialog-sheet {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.04), 0px 4px 5px rgba(0, 0, 0, 0.06),
    0px 2px 4px -1px rgba(0, 0, 0, 0.09);
}
input {
  font-size: 1em;
  padding: 0.4em 0.6em;
}
button {
  font-size: 1em;
  padding: 0.4em 0.6em;
}

input + button {
  margin-left: 0.5em;
}
