.hero {
  text-align: center;
  margin-bottom: 0;
}

.hero-action a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #4A90E2;
  color: #4A90E2;
  padding: .5em 1em;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: .25em 1em;
  border-radius: 4px;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: .1em;
}

.hero h2 {
  margin-top: 0;
  font-size: .875rem;
  font-weight: 300;
  text-transform: uppercase;
}

.features {
  margin: 3em 0em;
  padding-top: 2em;
  border-top: 1px solid #EAEAEA;
}

.features .feature {
  border-right: 1px solid #f7f7f7;
  padding-right: 1em;
  padding-left: 1em;
}

@media screen and (min-width: 640px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .features .feature {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    border-right: 1px solid #f7f7f7;
    padding-right: 1em;
    padding-left: 1em;
  }

  .features .feature:last-child {
    border-right: 0;
  }
}

.features .feature h3 {
  text-align: center;
}

.features .feature picture {
  text-align: center;
  display: block;
}
.features .feature img {
  width: 100%;
  max-width: 200px;
  display: inline-block;
}

.getting-started {
  margin: 3em 0em;
  padding-top: 2em;
  border-top: 1px solid #EAEAEA;
}

.getting-started h2 {
  text-align: center;
  margin-top: 0;
  font-weight: 300;
}

@media screen and (min-width: 640px) {
  .getting-started dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .getting-started dt {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
  }

  .getting-started dd {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0;
            flex: 2 0 0;
  }

  .getting-started dt {
    text-align: right;
    padding-right: 1em;
  }

  .getting-started dt h3 {
    margin: 0;
    margin-top: 1em;
  }
}

.getting-started dd {
  margin: 0;
}
