.Birthdays .DayPicker-Caption {
  font-weight: 300;
  font-size: 2rem;
  height: auto;
  text-align: left;
  color: #a6b0b0;
}

.Birthdays .DayPicker-Weekday {
  text-align: right;
}

.Birthdays .DayPicker-Day {

  width: 72px;
  height: 64px;
  vertical-align: top;
  text-align: right;
}

.Birthdays-List {
  text-align: left;
  margin-top: .5rem;
  font-weight: 300;
  color: #565A5C;
  font-size: 11px;
  white-space: nowrap;
}
