body {
  font-family: -apple-system, BlinkMacSystemFont,  "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #555;
}

h1 {
  font-weight: 300;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
}

h4 {
  font-weight: 500;
}

p, ul {
  line-height: 1.4em;
}

p code, ul code {
  display: inline-block;
  padding: 0 .5rem;
  word-break: nowrap;
  color: #4A90E2;
}

abbr {
  border-bottom: 1px dotted;
}

a {
  color: inherit;
}

b {
  font-weight: 500;
}

pre[class*="language-"] {
  margin: 0;
  padding: 1rem;

}

code, code[class*="language-"], pre[class*="language-"] {
  font-family: SFMono-Regular, Inconsolata, Menlo, Consolas, monospace !important;
  font-size: .875rem !important;
  background: #f7f8f8 !important;
}

input {
  -webkit-appearance: none;
  padding: .5rem 1rem;
  border: 1px solid #DCE0E0;
  color: #565A5C;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont,  "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: center;
  font-weight: 300;
}

select {
  appearance: none;
  padding: .5rem 1rem .5rem 2rem;
  border: 1px solid #DCE0E0;
  color: #565A5C;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont,  "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: center;
  font-weight: 300;
  border-radius: 0;
  background-color: #FFF;
  margin: 0 auto;
  width: 70%;
  display: inline-block;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjEycHgiIGhlaWdodD0iMTJweCIgdmlld0JveD0iMCAwIDEyIDEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMy4wMDAwMDAsIDAuMDAwMDAwKSIgZmlsbD0iIzU2NUE1QyI+CiAgICAgICAgICAgIDxwb2x5Z29uIHBvaW50cz0iMy41IDAgNyA1IDAgNSAiPjwvcG9seWdvbj4KICAgICAgICAgICAgPHBhdGggZD0iTTAsNyBMNyw3IEwzLjUsMTIgTDAsNyBaIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
  background-position: .75rem center;
  background-repeat: no-repeat;
}

.DayPicker-Caption select {
  border: 0;
  width: auto;
  margin-top: -0.35rem;
  margint-right: 1rem;
}

.Header {
  border-bottom: 1px solid #EAEAEA;
  padding: 0.5rem;
  padding-top: 0.6rem;
}

.Content {
  display: flex;
  flex-direction: row;
}

.NavBar {
  font-weight: 400;
  padding: 1em 0;
  border-right: 1px solid #F1F1F1;
}

.NavBar-toggle {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: white;
  width: 2.5rem;
  height: 2rem;
  z-index: 20;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIyNHB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0ibWl1IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgaWQ9IkFydGJvYXJkLTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zNTkuMDAwMDAwLCAtNDc5LjAwMDAwMCkiPjxnIGlkPSJzbGljZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjE1LjAwMDAwMCwgMTE5LjAwMDAwMCkiLz48cGF0aCBkPSJNMzYwLjU3NzEzOCw0ODUgQzM2MC4yNTgzOTQsNDg1IDM2MCw0ODUuMjIxOTMyIDM2MCw0ODUuNSBDMzYwLDQ4NS43NzYxNDIgMzYwLjI2MjM5Niw0ODYgMzYwLjU3NzEzOCw0ODYgTDM4MS40MjI4NjIsNDg2IEMzODEuNzQxNjA2LDQ4NiAzODIsNDg1Ljc3ODA2OCAzODIsNDg1LjUgQzM4Miw0ODUuMjIzODU4IDM4MS43Mzc2MDQsNDg1IDM4MS40MjI4NjIsNDg1IEwzNjAuNTc3MTM4LDQ4NSBMMzYwLjU3NzEzOCw0ODUgWiBNMzYwLjU3NzEzOCw0OTAgQzM2MC4yNTgzOTQsNDkwIDM2MCw0OTAuMjIxOTMyIDM2MCw0OTAuNSBDMzYwLDQ5MC43NzYxNDIgMzYwLjI2MjM5Niw0OTEgMzYwLjU3NzEzOCw0OTEgTDM4MS40MjI4NjIsNDkxIEMzODEuNzQxNjA2LDQ5MSAzODIsNDkwLjc3ODA2OCAzODIsNDkwLjUgQzM4Miw0OTAuMjIzODU4IDM4MS43Mzc2MDQsNDkwIDM4MS40MjI4NjIsNDkwIEwzNjAuNTc3MTM4LDQ5MCBMMzYwLjU3NzEzOCw0OTAgWiBNMzYwLjU3NzEzOCw0OTUgQzM2MC4yNTgzOTQsNDk1IDM2MCw0OTUuMjIxOTMyIDM2MCw0OTUuNSBDMzYwLDQ5NS43NzYxNDIgMzYwLjI2MjM5Niw0OTYgMzYwLjU3NzEzOCw0OTYgTDM4MS40MjI4NjIsNDk2IEMzODEuNzQxNjA2LDQ5NiAzODIsNDk1Ljc3ODA2OCAzODIsNDk1LjUgQzM4Miw0OTUuMjIzODU4IDM4MS43Mzc2MDQsNDk1IDM4MS40MjI4NjIsNDk1IEwzNjAuNTc3MTM4LDQ5NSBMMzYwLjU3NzEzOCw0OTUgWiIgZmlsbD0iIzAwMDAwMCIgaWQ9ImVkaXRvci1saXN0LXZpZXctaGFtYnVnZXItbWVudS1vdXRsaW5lLXN0cm9rZSIvPjwvZz48L2c+PC9zdmc+");
  background-size: cover;
}


@media (max-width: 499px) {
  .NavBar {
    top: 0;
    font-size: 1.4rem;
    opacity: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    position: absolute;
    transform: translateY(100%);
    transition: all 0.3s ease-out;
  }

  .navbar-is-visible .NavBar {
    opacity: 1;
    transform: translateY(0);
  }

  .navbar-is-visible .Examples {
    display: none;
  }

  .NavBar-toggle {
    display: block;
  }

  .Content {
    flex-direction: column;
  }

}

.NavBar-wrapper {
  overflow: auto;
  background-color: white;
  position: sticky;
  top: 0.5em;
}

.NavBar a {
  font-size: 0.875em;
  margin-bottom: 1em 0;
  padding: 0.5em 1em;
  display: block;
  color: #4A90E2;
  text-decoration: none;
}

.NavBar h3 {
  padding: 0 1em;
  font-weight: 700;
  color: #666;
}

.NavBar a.selected {
  color: white;
  background-color: #4A90E2;
}

.NavBar-links {

}

.Examples {
  flex: 1;
  padding: 1em;
}

.Example {
  text-align: center;
}

.Example-Result {
  margin-bottom: 2em;
  display: inline-block;
}
