.DayPicker-Day--odd:not(.DayPicker-Day--outside) {
  background-color: red;
  color: white;
}

.DayPicker-Day--even:not(.DayPicker-Day--outside) {
  background-color: blue;
  color: white;
}

.DayPicker-Day--first:not(.DayPicker-Day--outside) {
  background-color: black;
  color: white;
}
