:root {
  --ifm-heading-font-weight: 500;

  --ifm-font-base-color: hsl(0, 0%, 20%);
  --ifm-font-size-base: 15px;

  --ifm-code-font-size: 0.875em;
  --ifm-heading-font-weight: 500;
  --ifm-contents-padding-vertical: 0.75em 0;
  --ifm-contents-link-color: var(--ifm-color-primary);

  --ifm-color-primary: #ff6347;
  --ifm-color-primary-dark: #ff4726;
  --ifm-color-primary-darker: #ff3a16;
  --ifm-color-primary-darkest: #e42300;
  --ifm-color-primary-light: #ff7f68;
  --ifm-color-primary-lighter: #ff8c78;
  --ifm-color-primary-lightest: #ffb6a9;

  --ifm-global-radius: 0.25em;

  --ifm-alert-border-radius: 5px;
  --ifm-color-warning: #fffacc;
  --ifm-alert-color: inherit;
}

a {
  transition: none;
}

html[data-theme='dark'] {
  --ifm-color-warning: #2f1904;
  --ifm-alert-color: inherit;
  --ra-admonition-icon-color: var(--ifm-font-color-base);
  --ifm-code-background: #24282d;

  --rdp-color-primary: #4d21fc;
  --rdp-color-secondary: #ff6347;
}
details summary {
  font-weight: bold;
  cursor: pointer;
  padding: var(--ifm-pre-padding) 0;
}

.docusaurus-highlight-code-line {
  background-color: var(--ifm-color-emphasis-200);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: var(--ifm-code-background);
}

.menu {
  font-weight: inherit;
}

.rdp {
  all: revert;
  font-size: initial;
}

.rdp * {
  all: revert;
}

.rdp-month {
  margin: 0.75em;
}

.code-output {
  background-color: var(--ifm-pre-background);
  border-radius: var(--ifm-pre-border-radius);
  padding: var(--ifm-pre-padding);
  padding-top: 0;
  overflow: auto;
}

details .code-output {
  padding-top: var(--ifm-pre-padding);
}

.code-output .rdp + p {
  margin-top: 0;
  margin-bottom: 0;
}

.code-output input {
  font: inherit;
  padding: 0 0.5em;
}

.prism-code > div {
  background-color: var(--ifm-pre-background) !important;
}

.table-of-contents code {
  all: inherit;
}

.navbar__title {
  font-weight: 700;
}

.markdown hr {
  all: revert;
  border: none;
  height: 1px;
  background-color: var(--ifm-color-emphasis-300);
}

.markdown h4 {
  font-weight: bold;
}

.markdown > table {
  width: 100%;
  margin-bottom: 2em;
}

.markdown > table td:last-child {
  width: 100%;
}

.markdown > table,
.markdown > table thead tr {
  border: 0;
}
.markdown > table tbody tr:last-child td {
  border-bottom: 0;
}

.markdown > table tr:nth-child(2n) {
  background-color: inherit;
}

.markdown > table thead tr th {
  text-align: left;
  font-size: 0.875em;
  border-top: 0;
  border-bottom: 0;
  color: var(--ifm-color-emphasis-500);
}

.markdown > table th,
.markdown > table td {
  padding: calc(var(--ifm-table-cell-padding) / 2) var(--ifm-table-cell-padding);
}

.markdown > table th:first-child,
.markdown > table td:first-child {
  border-left: 0;
}
.markdown > table th:last-child,
.markdown > table td:last-child {
  border-right: 0;
}
