:root {
  --ifm-color-primary-dark: #ff4726;
  --ifm-color-primary-darker: #ff3a16;
  --ifm-color-primary-darkest: #e42300;
  --ifm-color-primary-light: #ff7f68;
  --ifm-color-primary-lighter: #ff8c78;
  --ifm-color-primary-lightest: #ffb6a9;
  --ifm-color-primary: #ff6347;
  --ifm-color-warning: #fffacc;
}

/* a {
  transition: none;
} */

html[data-theme='dark'] {
  --rdp-accent-color-light: var(--rdp-accent-color-dark);
  --rdp-accent-color-lighter: var(--rdp-accent-color-darker);
  --rdp-accent-color-lightest: var(--rdp-accent-color-darkest);
}
details summary {
  padding: var(--ifm-pre-padding) 0;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}

.container {
  margin: 0;
}

.docusaurus-highlight-code-line {
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  background-color: var(--ifm-color-emphasis-200);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: var(--ifm-code-background);
}

.menu {
  font-weight: inherit;
}

/* revert styles from docusaurus */
.rdp,
.rdp table,
.rdp tbody,
.rdp thead,
.rdp tr,
.rdp td,
.rdp th {
  all: revert;
}

.rdp table tr:nth-child(2n) {
  background: none;
}

.prism-code > div {
  /* background-color: var(--ifm-pre-background) !important; */
}

.table-of-contents code {
  all: inherit;
}

.navbar__title {
  font-weight: 700;
}

hr {
  all: revert;
}

.markdown hr {
  height: 1px;
  border: none;
  background-color: var(--ifm-color-emphasis-200);
}

.markdown h4 {
  font-weight: bold;
}

.markdown .anchor {
  top: calc(var(--ifm-navbar-height) * -1 - 1em);
}

.markdown > table {
  width: 100%;
  margin-bottom: 2em;
}

.markdown > table td:last-child {
  width: 100%;
}

.markdown > table,
.markdown > table thead tr {
  border: 0;
}
.markdown > table tbody tr:last-child td {
  border-bottom: 0;
}

.markdown > table tr:nth-child(2n) {
  background-color: inherit;
}

.markdown > table thead tr th {
  text-align: left;
  color: var(--ifm-color-emphasis-500);
  border-top: 0;
  border-bottom: 0;
  font-size: 0.875em;
}

.markdown > table th,
.markdown > table td {
  padding: calc(var(--ifm-table-cell-padding) / 2) var(--ifm-table-cell-padding);
}

.markdown > table th:first-child,
.markdown > table td:first-child {
  border-left: 0;
}
.markdown > table th:last-child,
.markdown > table td:last-child {
  border-right: 0;
}

.markdown form input {
  padding: 0.5em;
  font-family: inherit;
  font-size: inherit;
}
