:root {
  --rdp-font-family: -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell,
    'Noto Sans', sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --rdp-accent-color: #4d21fc;
  /* Default colors for light themes */
  --rdp-accent-color-light: #8567fd;
  --rdp-accent-color-lighter: #beaefe;
  --rdp-accent-color-lightest: #f6f4ff;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #3003e1;
  --rdp-accent-color-darker: #1e0097;
  --rdp-accent-color-darkest: #180270;
  --rdp-cell-size: 40px;
  --rdp-border-focus: 2px solid var(--rdp-accent-color);
}

.rdp {
  font-family: var(--rdp-font-family);
}
.rdp,
.rdp * {
  box-sizing: border-box;
}

/** Reset buttons */
button.rdp-day,
button.rdp-weeknumber,
button.rdp-nav-button {
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: default;
  border: 0;
  outline: none;
  background: none;
  font: inherit;

  -moz-appearance: none;
  -webkit-appearance: none;
}

button.rdp-day:not([disabled]),
button.rdp-weeknumber:not([disabled]),
button.rdp-nav-button:not([disabled]) {
  cursor: pointer;
}

button.rdp-weeknumber:active,
button.rdp-day:active,
button.rdp-weeknumber:focus,
button.rdp-day:focus {
  border: var(--rdp-border-focus);
  background-color: var(--rdp-accent-color-lightest);
  color: inherit;
}

button.rdp-day:hover:not([disabled]),
button.rdp-weeknumber:hover:not([disabled]) {
  background-color: var(--rdp-accent-color-lightest);
}

.rdp {
  display: inline-block;
}

.rdp-months {
  display: flex;
}

.rdp .rdp-month {
  margin: 0.75em;
}
.rdp .rdp-table {
  border-collapse: collapse;
}

/* ---------- */
/* Caption    */
/* ---------- */

.rdp .rdp-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 0;
  caption-side: top;
  text-align: left;
}
.rdp[dir='rtl'] .rdp-caption {
}

.rdp.rdp-multiple-months .rdp-caption {
  position: relative;
  display: block;
  text-align: center;
}

.rdp-caption-dropdowns {
  position: relative;
  display: inline-flex;
}

.rdp .rdp-caption-label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 0.2em;
  color: currentColor;
  border: 0;
  border: 2px solid transparent;
  font-family: inherit;
  font-size: 140%;
  font-weight: bold;
  white-space: nowrap;
}

/* ---------- */
/* Navigation */
/* ---------- */

.rdp .rdp-nav {
  white-space: nowrap;
}
.rdp .rdp-month_first .rdp-nav {
  position: absolute;
  left: 0;
}
.rdp .rdp-month_last .rdp-nav {
  position: absolute;
  right: 0;
}

.rdp .rdp-nav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  padding: 0.25em;
  border: 2px solid transparent;
  border-radius: 100%;
  outline: none;
}
.rdp .rdp-nav-button:hover:not([disabled]) {
  background-color: var(--rdp-accent-color-lightest);
}
.rdp .rdp-nav-button:focus:not([disabled]),
.rdp .rdp-nav-button:active:not([disabled]) {
  border: 2px solid var(--rdp-accent-color);
  background-color: var(--rdp-accent-color-lightest);
}
.rdp .rdp-nav-button[disabled] {
  opacity: 0.2;
}

/* ---------- */
/* Dropdowns  */
/* ---------- */

.rdp .rdp-dropdown_year,
.rdp .rdp-dropdown_month {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rdp .rdp-dropdown {
  appearance: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.rdp .rdp-dropdown[disabled] {
  opacity: unset;
  color: unset;
}

.rdp .rdp-dropdown option {
  color: currentColor;
  font-size: 1em;
}

.rdp-dropdown:focus + .rdp-caption-label {
  border: var(--rdp-border-focus);
  border-radius: 5px;
  background-color: var(--rdp-accent-color-lightest);
}

.rdp-dropdown-icon {
  margin: 0 0 0 5px;
}

/* ---------- */
/* Table      */
/* ---------- */

.rdp .rdp-head-cell {
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 65%;
  font-weight: 700;
}

.rdp .rdp-row {
  height: 100%;
}

.rdp .rdp-row-head {
  min-width: 1.25em;
  text-align: right;
  font-size: 67.5%;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}

.rdp .rdp-weeknumber {
  margin-right: 5px;
  padding: 0 0.5em;
  border: 2px solid transparent;
  border-width: 1px !important;
  border-radius: 10%;
}

.rdp .rdp-cell {
  width: var(--rdp-cell-size);
  height: 100%;
  height: var(--rdp-cell-size);
  text-align: center;
  padding: 0;
}

/* ----------- */
/* Day element */
/* ----------- */

.rdp .rdp-day {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--rdp-cell-size);
  max-width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  margin: 0;
  border: 2px solid transparent;
  border-radius: 100%;
}

/* ----------- */
/* Modifiers   */
/* ----------- */

.rdp .rdp-day.rdp-day_disabled,
.rdp .rdp-day[disabled] {
  opacity: 25%;
}
.rdp .rdp-day.rdp-day_outside {
  opacity: 25%;
}
.rdp .rdp-day.rdp-day_today {
  font-weight: bold;
}
.rdp .rdp-day.rdp-day_selected {
  color: white;
  background-color: var(--rdp-accent-color-light);
}

.rdp .rdp-day.rdp-day_from {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--rdp-accent-color-light);
}
.rdp .rdp-day.rdp-day_to {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--rdp-accent-color-light);
}

.rdp .rdp-day.rdp-day_to.rdp-day_from {
  border-radius: 100%;
}
.rdp .rdp-day.rdp-day_between {
  color: inherit;
  border-radius: 0;
  background-color: var(--rdp-accent-color-lighter);
}
.rdp .rdp-day.rdp-day_between:hover {
  color: white;
}

.rdp .rdp-day.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
}
