@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3rem;
  --sidebar-width: 16rem;
  --article-max-width: 80ch;
  --toc-width: 14rem;
}

code {
  @apply font-mono;
}

@layer utilities {
  .shadow-sidebar {
    box-shadow:
      8px 0 15px -3px rgba(0, 0, 0, 0.1),
      4px 0 6px -2px rgba(0, 0, 0, 0.05);
  }
}

@layer components {
  .rdp {
    --rdp-accent-color: var(--color-primary);
    --rdp-background-color: var(--color-background);
  }

  details {
    @apply my-4;
  }

  details[open] {
    /* background-color: #e0e0e0; */
  }

  summary {
    font-weight: bold;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:before {
    content: "▶";
    padding-right: 5px;
    font-size: 14px;
  }

  details[open] summary:before {
    content: "▼";
  }
}

.dark .rdp {
  --rdp-accent-color: var(--rdp-accent-color-dark);
  --rdp-background-color: var(--rdp-background-color-dark);
}
