@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --breadcrumbs-height: 48px;
  --header-height: 48px;
  --header-full: 96px; /* Includes breadcrumbs */
  --sidebar-width: 256px;
}

code {
  @apply font-mono;
}

@layer utilities {
  .shadow-sidebar {
    box-shadow:
      8px 0 15px -3px rgba(0, 0, 0, 0.1),
      4px 0 6px -2px rgba(0, 0, 0, 0.05);
  }
}
