@import 'react-day-picker/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 48px;
  --quick-nav-display: none;
}

.dark .rdp,
.dark-theme .rdp,
.dark .rdp,
.dark-theme .rdp,
.light .rdp,
.light-theme .rdp,
.light .rdp,
.light-theme .rdp {
  --rdp-accent: var(--accent-a9);
  --rdp-background: var(--accent-a9);
}

/* .dark .rdp,
.dark-theme .rdp,
.dark .rdp,
.dark-theme .rdp {
  --rdp-accent: var(--rdp-accent);
  --rdp-background: var(--rdp-accent);
} */

@media (min-width: 768px) {
  :root {
    --component-highlights-item-width: 325px;
  }
}

@media (min-width: 1280px) {
  :root {
    --component-highlights-image-height: 850px;
  }
}

@media (min-width: 1440px) {
  :root {
    --quick-nav-display: block;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--gray-12);
  -webkit-text-size-adjust: 100%;

  /* Provide a default family for portalled elements not using themes (e.g. Primitives examples) */
  font-family:
    'Untitled Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

svg {
  display: block;
  vertical-align: middle;
  overflow: visible;
}

pre {
  margin: 0;
}

.radix-themes[data-is-root-theme='true'] {
  min-height: 100vh;
}

:root,
.light,
.light-theme {
  --theme-toggle-sun-icon-display: block;
  --theme-toggle-moon-icon-display: none;
}
.dark,
.dark-theme {
  --theme-toggle-sun-icon-display: none;
  --theme-toggle-moon-icon-display: block;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.dark code[data-theme*=' '],
.dark code[data-theme*=' '] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-0 bg-slate-100 dark:bg-slate-800;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}
