{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    }
  }
}
