{
  "ignore": [
    "src/index.umd.js"
  ],
  "presets": [
    "react",
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ]
  ],
  "env": {
    "cjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
