:root {
  --ifm-background-color: white;
  --ifm-color-primary: #d73a49;
  --ifm-color-primary-dark: #cc2939;
  --ifm-color-primary-darker: #c12736;
  --ifm-color-primary-darkest: #9f202c;
  --ifm-color-primary-light: #dc515e;
  --ifm-color-primary-lighter: #de5c68;
  --ifm-color-primary-lightest: #e57e88;
  --ifm-transition-fast: 120ms;
  /* --ifm-leading: calc(15 * 1em); */
  --ifm-toc-border-color: transparent;
  --ifm-heading-font-weight: 700;
  --ifm-code-font-size: 0.8rem;
  --ifm-navbar-shadow: none;
  --ifm-navbar-height: 75px;
  --ifm-code-border-radius: 4px;
  --ifm-global-radius: 1rem;
  /* --ifm-code-background: transparent; */
  --menu-background: var(--ifm-color-emphasis-100);
  --ifm-tabs-padding-vertical: 8px;
  --ifm-menu-color: inherit;
  --ifm-menu-color-background-active: inherit;
  --ifm-menu-color-background-hover: inherit;
  --ifm-menu-link-sublist-icon: url('/images/sublist-icon.svg');
  --ifm-navbar-background-color: var(--menu-background);
  --doc-sidebar-width: 260px !important;
}

html[data-theme='dark'] {
  --rdp-accent-color-light: var(--rdp-accent-color-dark);
  --rdp-accent-color-lighter: var(--rdp-accent-color-darker);
  --rdp-accent-color-lightest: var(--rdp-accent-color-darkest);
  --rdp-background-color: var(--rdp-background-color-dark);
}
.rdp {
  margin: 1rem;
}
.rdp table .rdp-tfoot td {
  padding-top: 1rem;
}

.rdp-tfoot button {
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;;
  display: inline-block;
  font-size: .875em;
  padding: .3rem .8rem;
  text-align: center;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;
}
.rdp table thead tr {
  /* remove docusaurus styling */
  all: revert;
}
.rdp table td {
  /* remove docusaurus styling */
  all: revert;
}
.rdp-tfoot button:not(:disabled) {
  cursor: pointer;
  background-color: var(--ifm-color-secondary-light);
  border-color: var(--ifm-color-secondary-darkest);
}

.rdp-tfoot button:disabled {
  background-color: var(--ifm-color-secondary-lighter);
  border-color: var(--ifm-color-secondary-light);
}

.menu {
  border-radius: var(--ifm-global-radius);
  background-color: var(--menu-background);
  padding: 1rem 0;
  margin-right: 0.75rem;
  font-weight: normal;
}

.menu__list {
  transition-duration: var(--ifm-transition-fast) !important;
}

@media (min-width: 997px) {
  .menu {
    padding-top: 1rem !important;
    margin: 0.5rem 0.75rem 1rem 1rem !important;
  }
  .navbar {
    /* position: relative; */
    background-color: var(--ifm-background-color);
  }
  .navbar__inner {
    background-color: var(--menu-background);
    padding: 0.75rem 1rem;
    border-radius: var(--ifm-global-radius);
  }
  .navbar__brand {
    width: calc(var(--doc-sidebar-width) - 2.75rem);
  }
  [class^='sidebarLogo'] {
    background: var(--menu-background);
    border-radius: var(--ifm-global-radius);
    /* justify-content: center; */
    padding-left: 1rem;
    margin: 0.75rem 0.75rem 0 1rem !important;
    min-height: calc(var(--ifm-navbar-height) - 20px) !important;
  }
}

.navbar__brand b,
[class^='sidebarLogo'] b {
  /* font-weight: 400 !important; */
  /* font-size: 1.3rem; */
}

.container {
  max-width: 100% !important;
}

.docusaurus-highlight-code-line {
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  background-color: var(--ifm-color-emphasis-200);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: var(--ifm-code-background);
}

/* revert styles from docusaurus */
table {
  margin: 0;
}
table th,
table td,
table tr {
  border: 0;
  background-color: transparent;
}

.rdp table tr:nth-child(2n) {
  background: none;
}

@media (min-width: 997px) {
  .table-of-contents:before {
    display: block;
    color: var(--ifm-color-emphasis-500);
    content: 'On this page';
    text-transform: uppercase;
    /* color: currentColor; */
    font-weight: bold;
    padding-bottom: 0.5em;
  }
}

.table-of-contents {
  --ifm-toc-border-color: var(--ifm-color-emphasis-200);
  padding-left: 1rem;
}

.table-of-contents code {
  all: inherit;
}

.table-of-contents li {
  margin: 0.625rem 0;
  line-height: 1.1rem;
}

hr {
  all: revert;
}

.markdown hr {
  height: 1px;
  border: none;
  background-color: var(--ifm-color-emphasis-200);
}

[class^='docItemContainer'] {
  max-width: 1000px;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2rem;
}

.markdown > h2 {
  --ifm-h2-font-size: 1.5rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.25rem;
}

.markdown > table {
  width: 100%;
  margin-bottom: 2em;
}

.markdown > table td:last-child {
  width: 100%;
}

.markdown > table,
.markdown > table thead tr {
  border: 0;
}
.markdown > table tbody tr:last-child td {
  border-bottom: 0;
}

.markdown > table tr:nth-child(2n) {
  background-color: inherit;
}

.markdown > table thead tr th {
  text-align: left;
  color: var(--ifm-color-emphasis-500);
  border-top: 0;
  border-bottom: 0;
  font-size: 0.875em;
}

.markdown > table th,
.markdown > table td {
  padding: calc(var(--ifm-table-cell-padding) / 2) var(--ifm-table-cell-padding);
}

.markdown > table th:first-child,
.markdown > table td:first-child {
  border-left: 0;
}
.markdown > table th:last-child,
.markdown > table td:last-child {
  border-right: 0;
}

.markdown form input {
  padding: 0.25em 0.75em;
  color: var(--ifm-font-color-base);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-button-border-radius);
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: #fff;
}

[data-theme='dark'] .markdown form input {
  background-color: #010101;
}
/* 
.markdown li > p {
  margin: 0;
} */
