:root {
  --ifm-code-border-radius: 2px;
  --ifm-code-font-size: 12px;
  --ifm-color-primary: #3f5efb;
  --ifm-color-secondary: #fc466b;
  --ifm-container-width: 1260px;
  --ifm-contents-border-color: var(--ifm-color-emphasis-alpha-10);
  --ifm-contents-link-color: var(--ifm-color-emphasis-alpha-80);
  --ifm-font-base-color: var(--ifm-color-emphasis-alpha-80);
  --ifm-h1-font-size: 2rem;
  --ifm-h1-line-height: 2;
  --ifm-h1-vertical-rhythm-bottom: 1;
  --ifm-h1-vertical-rhythm-top: 2;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h2-line-height: 1.5;
  --ifm-h2-vertical-rhythm-top: 1.75;
  --ifm-h2-vertical-rhythm-bottom: 1;
  --ifm-h3-font-size: 1.17rem;
  --ifm-h3-vertical-rhythm-top: 1.2;
  --ifm-h3-vertical-rhythm-bottom: 1;
  --ifm-h4-font-size: 1.12rem;
  --ifm-h5-font-size: 0.83rem;
  --ifm-h6-font-size: 0.75rem;
  --ifm-pre-margin-top: 1.5rem;
  --ifm-pre-margin-bottom: 1.5rem;
  --ifm-paragraph-margin-top: 0.5rem;
  --ifm-paragraph-margin-bottom: 0.5rem;
  --ifm-heading-font-family: ;
  --ifm-heading-font-weight: 700;
  --ifm-heading-line-height: 1.2em;
  --ifm-heading-margin-bottom: 1rem;
  --ifm-heading-margin-top: 0;
  --ifm-heading-vertical-rhythm-bottom: 1;
  --ifm-heading-vertical-rhythm-top: 1.5;
  --ifm-list-margin: 1.5rem;
  --ifm-table-border-width: 0;
  --ifm-table-cell-padding: 7px;
  --ifm-table-head-background: var(--ifm-color-emphasis-alpha-05);
  --ifm-table-head-color: var(--ifm-table-cell-color);
  --ifm-table-stripe-background: transparent;
  --ifm-font-family-base: 'SF Pro Text', 'SF Pro Icons', system-ui,
    system -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.markdown {
  --ifm-h1-line-height: inherit;
  --ifm-h1-vertical-rhythm-bottom: inherit;
  --ifm-h1-vertical-rhythm-top: inherit;
  --ifm-h2-line-height: inherit;
  --ifm-h2-vertical-rhythm-top: inherit;
  --ifm-h2-vertical-rhythm-bottom: inherit;
  --ifm-h3-vertical-rhythm-top: inherit;
  --ifm-heading-line-height: inherit;
  --ifm-heading-vertical-rhythm-bottom: inherit;
  --ifm-heading-vertical-rhythm-top: inherit;
}

html[data-theme='dark'] {
  /* --ifm-color-secondary: #3f5efb; */
  /* --ifm-color-primary: #3f5efb; */
}
html:not([data-theme='dark']) {
}

html {
  -webkit-font-smoothing: antialiased;
}

.snavbar {
  color: white;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(12, 198, 239, 0.75)),
    color-stop(rgba(197, 110, 240, 0.75)),
    to(rgba(250, 75, 85, 0.75))
  );
  background: linear-gradient(
    to right,
    rgba(12, 198, 239, 0.75),
    rgba(197, 110, 240, 0.75),
    rgba(250, 75, 85, 0.75)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc466b),
    to(#3f5efb)
  );
  background: linear-gradient(
    to right,
    #fc466b,
    #3f5efb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-backdrop-filter: blur(10px);
  --ifm-navbar-link-color: white;
  --ifm-navbar-link-hover-color: white;
}
.navbar .navbar__brand {
  font-weight: 700;
  font-size: 1.2rem;
}
.navbar__inner {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
}
.navbar__link {
  white-space: nowrap;
}

[class^='docPage'] {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
}

.menu {
  font-weight: normal;
}
.menu__link--active {
  font-weight: bold;
}
.menu .menu__link {
  color: var(--ifm-color-emphasis-alpha-80);
}

.markdown > pre {
  margin-top: var(--ifm-pre-margin-top);
  margin-bottom: var(--ifm-pre-margin-bottom);
}

.markdown > p {
  margin-top: var(--ifm-paragraph-margin-top);
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.markdown > ul,
.markdown > ol {
  margin-top: var(--ifm-list-margin);
  margin-bottom: var(--ifm-list-margin);
}

[class^='mdxCodeBlock'] {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

[class^='tableOfContents'] {
  max-height: initial !important;
}

table th,
table td {
  font-size: 0.875em;
  border-bottom: 1px solid var(--ifm-color-emphasis-alpha-05);
}

pre {
  margin: 0;
  margin-bottom: 0;
}

p {
  margin-top: var(--ifm-paragraph-margin-top);
}

a > code {
  color: var(--ifm-link-color);
}

.navbar__brand {
  white-space: nowrap;
}

table {
  margin: 1em 0 2em 0;
  width: 100%;
}

/* h4,
h5,
h6 {
  --ifm-heading-vertical-rhythm-top: 0.5;
  --ifm-heading-vertical-rhythm-bottom: 0.25;
} */
