:root {
  --ifm-color-primary: #007aff;
  --ifm-color-primary-dark: #006ee6;
  --ifm-color-primary-darker: #0062cc;
  --ifm-color-primary-darkest: #0055b3;
  --ifm-color-primary-light: #1a87ff;
  --ifm-color-primary-lighter: #3395ff;
  --ifm-color-primary-lightest: #4da2ff;

  --ifm-color-emphasis-0: #FCFCFD;
  --ifm-color-emphasis-100: #F9FAFB;
  --ifm-color-emphasis-200: #F3F4F6;
  --ifm-color-emphasis-300: #E5E7EB;
  --ifm-color-emphasis-400: #D2D6DB;
  --ifm-color-emphasis-500: #9DA4AE;
  --ifm-color-emphasis-600: #6C737F;
  --ifm-color-emphasis-700: #4D5761;
  --ifm-color-emphasis-800: #384250;
  --ifm-color-emphasis-900: #1F2A37;
  --ifm-color-emphasis-1000: #111927;


  --ifm-font-family-base: ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, 'Inter',
    'Apple Color Emoji', 'Segoe UI Emoji';
  --ifm-global-shadow-lw: 0px transparent;
  --ifm-menu-color: var(--ifm-color-emphasis-200);
  --ifm-font-family-monospace: ui-monospace, 'SF Mono', Consolas,
    'Liberation Mono', Menlo, Courier, monospace;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-menu-color: unset;
  --ifm-heading-font-weight: 600;
  --ifm-toc-border-color: var(--ifm-color-emphasis-200);
  --ifm-table-cell-padding: 0.35em 0.5em;
  --ifm-table-border-width: 0;
  --ifm-tabs-padding-vertical: 0.35em;
  --ifm-tabs-padding-horizontal: 0.5em;
  --ifm-global-spacing: 0.75em;

  --doc-sidebar-width: 260px !important;
  --ifm-alert-border-left-width: 2px;

  --ifm-menu-link-sublist-icon: url(/img/chevron.svg);

  --docsearch-muted-color: var(--docsearch-text-color) !important;

  --ifm-code-border-radius: 0;

  --ifm-navbar-shadow: none;  
  --ifm-alert-shadow: none;
  --ifm-pre-border-radius: 18px;
  --ifm-table-border-color: var(--ifm-color-emphasis-300);
  --ifm-navbar-background-color: var(--ifm-color-emphasis-0);
 
  --ifm-dropdown-background-color: var(--ifm-color-emphasis-100);
  --ifm-dropdown-hover-background-color: var(--ifm-color-emphasis-200);

}

html[data-theme="dark"] {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.rdp-demo:not(#a#b),
.rdp-demo:not(#a#b) * {
  @layer infima {
    all: revert-layer;
  }

  @layer website {
    all: revert-layer;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: #0b84ff;
  --ifm-color-primary-dark: #0a77e6;
  --ifm-color-primary-darker: #096acc;
  --ifm-color-primary-darkest: #085cb3;
  --ifm-color-primary-light: #2390ff;
  --ifm-color-primary-lighter: #3c9dff;
  --ifm-color-primary-lightest: #54a9ff;

  --ifm-color-emphasis-0: #111927;
  --ifm-color-emphasis-100: #1F2A37;
  --ifm-color-emphasis-200: #384250;
  --ifm-color-emphasis-300: #4D5761;
  --ifm-color-emphasis-400: #6C737F;
  --ifm-color-emphasis-500: #9DA4AE;
  --ifm-color-emphasis-600: #D2D6DB;
  --ifm-color-emphasis-700: #E5E7EB;
  --ifm-color-emphasis-800: #F3F4F6;
  --ifm-color-emphasis-900: #F9FAFB;
  --ifm-color-emphasis-1000: #FCFCFD;

  --ifm-toc-border-color: var(--ifm-color-emphasis-100);
  --ifm-table-border-color: var(--ifm-color-emphasis-100);

  
  background-image: linear-gradient(to bottom, #111, #111927) !important;
}

@media (min-width: 997px) {
  html[data-theme="dark"] .navbar {
    border-bottom-color: var(--ifm-color-emphasis-100) !important;
  }
}

html[data-theme="dark"] {
}

/* Style the main content area */
.main-wrapper main {
  max-width: 110ch; /* Constrain the maximum width of the content for better readability */
  margin-inline: auto;
}

a > code {
  padding: unset;
  background: unset;
  border: unset;
}

a.menu__link {
  transition: unset;
  font-size: 14px;
  background: unset;
  line-height: 1.5;
}

a.menu__link:not(:hover):not(.menu__link--active) {
  opacity: 1;
}
a.menu__link--active {
  font-weight: 600;
}
a.menu__link[aria-expanded] {
  font-weight: 600;
}

a.menu__link[aria-expanded]:hover {
  background: unset;
}

.menu__link--sublist {
}

.menu__list-item:not(:first-child) {
  margin-top: 0.1rem;
}

a.table-of-contents__link:not(:hover):not(.table-of-contents__link--active) {
  opacity: 0.75;
}

@media (min-width: 997px) {
  .table-of-contents::before {
    content: "On This Page";
    font-weight: 600;
    font-size: 1em;
    margin: var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal);
  }
}

div.theme-doc-toc-desktop {
  top: calc(var(--ifm-navbar-height) + 1rem);
}

a.theme-edit-this-page {
  font-size: 0.8rem;
  bottom: -2rem;
  position: relative;
  display: inline-flex;
  align-items: center;
}

a.theme-edit-this-page > svg {
  height: 0.8rem;
  width: 0.8rem;
}


pre {
  --ifm-code-font-size: 85%;
  background: var(--ifm-color-emphasis-0) !important;
  --prism-background-color: var(--ifm-color-emphasis-0);
  /* border: 1px solid var(--ifm-color-emphasis-200); */
  /* box-shadow: 0 1px 0 rgba(0,0,0,.02), 0 8px 24px rgba(0,0,0,.06); */
}



div.codeBlockContainer_TRp6 {
  box-shadow: none !important;
  border-radius: var(--ifm-pre-border-radius);
}

.tabs__item {
  border-bottom-width: 1px;
  font-size: 0.875rem;
  border-radius: 0;
}

.tabs {
  margin-top: 1rem;
}

.tabs + .margin-top--md {
  margin-top: 0 !important;
}

@media (min-width: 997px) {
  .navbar {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--ifm-color-emphasis-200);
  }

  html[data-theme="dark"] .navbar {
    background: rgba(1, 1, 1, 0.6);
    border-bottom-color: var(--ifm-color-emphasis-300);
  }
}

div[class^="docRoot"],
.navbar__inner {
  max-width: 1400px;
  margin-inline: auto;
}

.navbar__item {
  font-size: 0.875rem;
}
.navbar__title {
  text-transform: uppercase;
  font-weight: 600;
}

a.navbar__item svg {
  width: 10px;
  height: 10px;
}

span.DocSearch-Button-Keys {
  display: none;
}

button.DocSearch {
  padding: 0.25rem 0.5rem;
  /* border-radius: 0.25rem; */
  border-width: 1px;
  height: 32px;
  background: transparent;
  box-shadow: none;
}

button.DocSearch svg {
  width: 1rem;
  height: 1rem;
}
span.DocSearch-Button-Placeholder {
  font-size: small;
}

div[class^="collapsibleContent"] a,
div[class^="admonitionContent"] a {
  color: var(--ifm-color-primary) !important;
  text-decoration-color: currentColor;
  text-decoration-thickness: revert !important;
}

div[class^="admonitionHeading"] {
  text-transform: uppercase;
}

pre code {
  white-space: pre;
}

.theme-doc-version-banner {
  font-size: 0.875rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.theme-doc-version-banner a {
  text-decoration-color: currentColor;
  text-decoration-thickness: revert !important;
}
.theme-doc-version-banner div.margin-top--md {
  margin-top: 0 !important;
}
.theme-doc-version-badge {
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: normal;
}

div[class^="admonitionHeading"] {
  text-transform: initial;
}
span[class^="admonitionIcon"] svg {
  height: 1.2em;
  width: 1.2em;
}

div.theme-admonition {
  font-size: 0.875rem;
  border-left-width: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.theme-admonition p {
  margin: revert;
}

[data-theme="light"] img[src$="#gh-dark-mode-only"],
[data-theme="dark"] img[src$="#gh-light-mode-only"] {
  display: none !important;
}

.pagination-nav__link {
  padding: 0;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0 !important;
  }
  html {
    scroll-behavior: auto;
  }
}

.navbar__inner,
div[class^="docRoot"] {
  max-width: 100%;
}

.navbar__logo {
  height: 1.75rem;
}


.no-wrap-table th,
.no-wrap-table td {
  white-space: nowrap;
}

.no-wrap-table p {
  margin: unset;
}

div[class^="tocCollapsible"] {
  background-color: transparent;
}

div[class^="tocCollapsible"] > button {
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
}

div[class^="tocCollapsibleContent"] > ul {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
}
