:root {
  --rdp-accent-color: var(--ifm-color-primary);
}

html[data-theme="dark"] .rdp-root {
  --rdp-accent-color: var(--ifm-color-primary);
  --rdp-accent-background-color: #073845;
  --rdp-range_end-color: black;
  --rdp-range_start-color: black;
}

@layer infima, website;

@import "./custom.css" layer(website);
@import "./markdown.css" layer(website);
