code {
  counter-reset: step;
  counter-increment: step 0;
}

code[data-line-numbers] [data-line]::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

pre[data-language] {
  background-color: transparent !important;
}
