@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --header-height: 48px;
}

.radix-themes[data-is-root-theme="true"] {
  min-height: 100vh;
}

:root,
.light,
.light-theme {
  --theme-toggle-sun-icon-display: block;
  --theme-toggle-moon-icon-display: none;
}
.dark,
.dark-theme {
  --theme-toggle-sun-icon-display: none;
  --theme-toggle-moon-icon-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

.DocToc {
  overflow: auto;
  /* box-shadow: 0 0 0 1px var(--slate-a5); */
  border-radius: var(--radius-2);
  font-size: var(--font-size-2);
  background-color: var(--slate-a2);
  @apply my-10 py-4;
}

.DocToc > ol {
  @apply pl-8;
}

.DocToc:before {
  content: "Table of Contents";
  display: block;
  font-size: var(--font-size-1);
  font-weight: bold;
  color: var(--slate-12);
  margin-bottom: var(--space-2);
  margin-left: var(--space-4);
  text-transform: uppercase;
}
