@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --header-height: 48px;
}

.radix-themes[data-is-root-theme="true"] {
  min-height: 100vh;
}

:root,
.light,
.light-theme {
  --theme-toggle-sun-icon-display: block;
  --theme-toggle-moon-icon-display: none;
}
.dark,
.dark-theme {
  --theme-toggle-sun-icon-display: none;
  --theme-toggle-moon-icon-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
