.DayPicker-Month {
  margin-bottom: 1em;
}

.DayPickerInput .DayPicker-Month {
  margin-bottom: 0;
}

.DayPicker-Day--birthday {
  color: white;
  background-color: #ffc107;
}

.DayPicker-Day--mondays:not(.DayPicker-Day--outside) {
  color: #ffc107;
  background-color: #fffdee;
}

.DayPicker-Day--start, .DayPicker-Day--end {
  position: relative;
}

.DayPicker-Day--start:not(.DayPicker-Day--outside):before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 5px;
  content: '';
  background-color: #ffc107;
}

.DayPicker-Day--end:not(.DayPicker-Day--outside):after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  width: 5px;
  content: '';
  background-color: #ffc107;
}

.DayPicker-Caption select {
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: none;
  font-size: 1rem;
}

.Birthdays .DayPicker-Caption {
  font-weight: 300;
  font-size: 2rem;
  height: auto;
  text-align: left;
  color: #a6b0b0;
}

.Birthdays .DayPicker-Weekday {
  text-align: right;
}

.Birthdays .DayPicker-Day {
  width: 72px;
  height: 64px;
  vertical-align: top;
  text-align: right;
}

.Birthdays-List {
  text-align: left;
  margin-top: .5rem;
  font-weight: 300;
  color: #565A5C;
  font-size: 11px;
  white-space: nowrap;
}
