.root {
  padding-top: 2rem;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.root .toolbar {
  display: none;
}

.root:hover .toolbar {
  display: block;
}

[class*='codeBlockLines'] {
  background-color: var(--menu-background) !important;
}

div[class*='codeBlockContainer'] {
  box-shadow: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Toolbar */
.toolbar {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5em 0;
  font-size: small;
  text-align: right;
}

.toolbar button {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
  color: inherit;

  -moz-appearance: none;
  -webkit-appearance: none;

  color: var(--ifm-link-hover-color);
}
.toolbar button:hover {
  text-decoration: var(--ifm-link-hover-decoration);
}
.toolbar button:disabled,
.toolbar button[aria-disabled='true'] {
  cursor: default;
  pointer-events: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div:first-child {
  flex: 1 0 60%;
  min-width: 350px;
  margin-bottom: 0;
  display: flex;
  position: relative;
  background-color: var(--menu-background) !important;
}

.container > div:first-child > div {
  display: flex;
  overflow: auto;
  min-width: 100%;
  background-color: var(--menu-background) !important;
}

.container > div:first-child pre {
  background-color: var(--menu-background) !important;
}

.container > div:last-child {
  flex-grow: 50;
  flex-shrink: 50;
  display: flex;
  justify-content: center;
  min-height: 380px;
  overflow: auto;
}
