.root {
  --sp-colors-fg-active: #24292e;
  --sp-colors-fg-default: #959da5;
  --sp-colors-bg-active: #e4e7eb;
  --sp-colors-bg-default: #ffffff;
  --sp-colors-bg-default-overlay: rgba(255, 255, 255, 0.8);
  --sp-font-size: 13px;
  --sp-font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
