.root {
  max-width: 1000px;
  position: relative;
  bottom: 0;
}

.externalIcon {
  border-radius: 50%;
  position: absolute;
  bottom: .5rem;
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 4px;
  text-align: center;
  color: currentcolor;
  margin-right: 1rem;
  background-color: var(--ifm-background-color);
  transform: translateX(-40px);
}

.externalIcon svg {
  opacity: .5;
}

.externalIcon:hover svg {
  opacity: 1;
}
