
/* Daypicker styles */

.daypicker {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 24px auto;
  user-select: none;
}

/* Caption & navigation buttons */

.daypicker__caption {
  line-height: 36px;
}

.daypicker__weekday {
  width: 36px;
  line-height: 36px;
  font-size: 0.875em;
  color: #82888a;
  font-weight: normal;
}

.daypicker__nav {
  display: block;
  border: 0;
  background-color: transparent;
  position: relative;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  cursor: pointer;
}

.daypicker__nav--right {
  background-image: url("../svg/right.svg");
}
.daypicker__nav--left {
  background-image: url("../svg/left.svg");
}

/* Days */

.daypicker__day {
  width: 36px;
  line-height: 36px;
  border: 1px solid #dce0e0;
  cursor: pointer;

  &:hover:not(.daypicker__day--outside):not(.daypicker__day--disabled) {
    background-color: #FF0000;
    color: white;
  }
}

/* Modifiers */

.daypicker__day--outside {
  color: #dce0e0 !important;
}

.daypicker__day--disabled {
  cursor: default;
  color: #dce0e0;
  background-color: #F1F1F1;
}

.daypicker__day--today {
  color: #FF0000;
}

.daypicker__day--selected:not(.daypicker__day--outside) {
  color: white;
  background-color: #FF0000;
}