:root {
  --rdp-font-family: inherit;
  --rdp-accent-color: #4d21fc;
  /* Default colors for light themes */
  --rdp-accent-color-light: #8567fd;
  --rdp-accent-color-lighter: #beaefe;
  --rdp-accent-color-lightest: #f6f4ff;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #3003e1;
  --rdp-accent-color-darker: #1e0097;
  --rdp-accent-color-darkest: #180270;
  --rdp-cell-size: 40px;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);

  --rdp-disabled-opacity: 0.25;
}

.rdp {
  font-size: 1rem;
  display: inline-block;
}

/* Hide elements for devices that are not screen readers */
.rdp-hidden {
  display: none;
}

/* Reset the buttons */
.rdp-button-reset {
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: default;
  color: inherit;
  border: 2px solid transparent;
  outline: none;
  background: none;
  font: inherit;

  -moz-appearance: none;
  -webkit-appearance: none;
}

.rdp-button-reset[disabled] {
  opacity: var(--rdp-disabled-opacity);
}

.rdp-button-reset:not([disabled]) {
  cursor: pointer;
}

.rdp-button-reset:focus:not([disabled]),
.rdp-button-reset:active:not([disabled]) {
  color: inherit;
  border: var(--rdp-outline);
  background-color: var(--rdp-accent-color-lightest);
}

.rdp-button-reset:hover:not([disabled]) {
  background-color: var(--rdp-accent-color-lightest);
}

.rdp-months {
  display: flex;
}

.rdp-month {
  margin: var(--rdp-spacing-largest);
}

.rdp-table {
  border-collapse: collapse;
}

.rdp-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--rdp-spacing) 0;
  caption-side: top;
  text-align: left;
}

.rdp-multiple-months .rdp-caption {
  position: relative;
  display: block;
  text-align: center;
}

.rdp-caption-dropdowns {
  position: relative;
  display: inline-flex;
}

.rdp-caption-label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 var(--rdp-spacing);
  white-space: nowrap;
  color: currentColor;
  border: 0;
  border: 2px solid transparent;
  font-family: inherit;
  font-size: 140%;
  font-weight: bold;
}

.rdp-nav {
  white-space: nowrap;
}
.rdp-caption_first .rdp-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.rdp-caption_last .rdp-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.rdp-nav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  padding: var(--rdp-spacing);
  border-radius: 100%;
}

/* ---------- */
/* Dropdowns  */
/* ---------- */

.rdp-dropdown_year,
.rdp-dropdown_month {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rdp-dropdown {
  appearance: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.rdp-dropdown[disabled] {
  opacity: unset;
  color: unset;
}

.rdp-dropdown option {
  color: currentColor;
  font-size: 1em;
}

.rdp-dropdown:focus:not([disabled]) + .rdp-caption-label,
.rdp-dropdown:active:not([disabled]) + .rdp-caption-label {
  border: var(--rdp-outline);
  border-radius: 6px;
  background-color: var(--rdp-accent-color-lightest);
}

.rdp-dropdown-icon {
  margin: 0 0 0 5px;
}

/* ---------- */
/* Table      */
/* ---------- */

.rdp-head-cell {
  padding: 1em 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 65%;
  font-weight: 700;
}

.rdp-row {
  height: 100%;
}

.rdp-row-head {
  min-width: 1.25em;
  text-align: right;
  font-size: 67.5%;
  font-weight: 500;
}

.rdp-weeknumber {
  width: calc(var(--rdp-cell-size) / 1.5);
  height: calc(var(--rdp-cell-size) / 1.5);
  border-radius: 50%;
}

.rdp-cell {
  width: var(--rdp-cell-size);
  height: 100%;
  height: var(--rdp-cell-size);
  padding: 0;
  text-align: center;
}

.rdp-day {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--rdp-cell-size);
  max-width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  margin: 0;
  border: 2px solid transparent;
  border-radius: 100%;
}

.rdp-day_disabled,
.rdp-day_outside,
.rdp-day[disabled] {
  opacity: 0.25;
}

.rdp-day_today {
  font-weight: bold;
}
.rdp-day_selected,
.rdp-day_selected:focus:not([disabled]),
.rdp-day_selected:active:not([disabled]),
.rdp-day_selected:hover:not([disabled]) {
  color: white;
  background-color: var(--rdp-accent-color-light);
}

.rdp-day_range-start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--rdp-accent-color-light);
}
.rdp-day_range-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--rdp-accent-color-light);
}
.rdp-day_range-end.rdp-day_range-start {
  border-radius: 100%;
}
.rdp-day_range-middle {
  color: white;
  border-radius: 0;
  background-color: var(--rdp-accent-color-lighter);
}
.rdp-day_range-middle:hover {
  color: white;
}

.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
}
