
$blue: #4A90E2;
$red: #D0021B;
$grey: #DCE0E0;
$dark-grey: #565A5C;
$white: #FFF;

$font: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$font-head: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace: Inconsolata, Menlo, Consolas, monospace !important;
