@import "constants";

// DayPicker styles

.DayPicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
}

  .DayPicker-NavBar {
    display: flex;
    align-items: center;
    padding: .5rem;
  }

  .DayPicker-NavButton {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

    .DayPicker-NavButton--prev {
      background-image: url("../assets/prev.svg");
    }

    .DayPicker-NavButton--next {
      background-image: url("../assets/next.svg");
    }


  .DayPicker-MonthName {
    flex: 1;
    text-align: center;
  }


  .DayPicker-Weekday {
    padding: .5rem;
    font-size: .875em;
    text-align: center;
  }

  .DayPicker-Day {
    padding: .5rem;
    border: 1px solid lighten($grey, 5);
    text-align: center;
    cursor: pointer;
  }

  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }


// Modifiers

.DayPicker-Day--today {
  color: $red;
}

.DayPicker-Day--disabled {
  color: $grey;
  cursor: default;
  background-color: lighten($grey, 7);
}

.DayPicker-Day--sunday {
  color: $grey;
  background-color: lighten($grey, 10);
}

.DayPicker-Day--outside {
  cursor: default;
  color: $grey;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: $white;
  background-color: $blue;
}

// Locales

.DayPicker--ar {
  direction: rtl;

  .DayPicker-NavButton--prev {
    background-image: url("../assets/next.svg");
  }

  .DayPicker-NavButton--next {
    background-image: url("../assets/prev.svg");
  }
}
