
/* DayPicker styles */

.DayPicker {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  margin: 24px 10px;
  user-select: none;
  vertical-align: top;
}

/* Caption & navigation buttons */

.DayPicker-caption {
  line-height: 36px;
}

.DayPicker-weekday {
  width: 36px;
  line-height: 36px;
  font-size: 0.875em;
  color: #82888a;
  font-weight: normal;
}

.DayPicker-nav {
  display: block;
  border: 0;
  background-color: transparent;
  position: relative;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  cursor: pointer;
}

.DayPicker-nav--right {
  background-image: url("../assets/right.svg");
}
.DayPicker-nav--left {
  background-image: url("../assets/left.svg");
}

/* Days */

.DayPicker-day {
  width: 36px;
  line-height: 36px;
  border: 1px solid #dce0e0;
  cursor: pointer;

  &:hover:not(.DayPicker-day--outside):not(.DayPicker-day--disabled) {
    background-color: #FF0000;
    color: white;
  }
}

/* Modifiers */

// reserved for days outside the current months

.DayPicker-day--outside {
  color: #dce0e0 !important;
  cursor: default;
}

// custom modifiers

.DayPicker-day--disabled {
  cursor: default;
  color: #dce0e0;
  background-color: #F1F1F1;
}

.DayPicker-day--today {
  color: #FF0000;
}

.DayPicker-day--selected:not(.DayPicker-day--outside) {
  color: white;
  background-color: #FF0000;
}
