body {
  font-family: "Avenir Next", "sans-serif";
  color: #565a5c;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
}

a {
  color: inherit;
}

input {
  line-height: 36px;
  font-family: "Avenir Next";
  color: #565a5c;
  font-size: 16px;
  padding: 0 12px;
  text-align: center;
}

