@import "constants";

.Birthdays {

  .DayPicker-Caption {
    font-family: $font-head;
    font-weight: 300;
    font-size: 2rem;
    height: auto;
    text-align: left;
    color: darken($grey, 20);
  }

  .DayPicker-Weekday {
    text-align: right;
  }

  .DayPicker-Day {

    width: 72px;
    height: 64px;
    vertical-align: top;
    text-align: right;
  }

  .Birthdays-List {
    text-align: left;
    margin-top: .5rem;
    font-weight: 300;
    color: $dark-grey;
    font-size: 11px;
    white-space: nowrap;
  }

}
