

@media screen and (max-width: 40.5em) {

  .SelectableDayExample {
    .DayPicker {
      z-index: 1;
      position: relative;
    }
    .DayPicker-Month {
      z-index: 2;
    }
    .DayPicker-Month + .DayPicker-Month {
      margin-top: 1rem;
    }
    .DayPicker-NavBar {
      // display: flex;
      top: 0;
      bottom: 0;
      z-index: 0;
    }
    .DayPicker-NavButton {
      top: 0;
      bottom: 0;
      height: auto;
      background-size: 1rem;
      cursor: pointer;
    }
    .DayPicker-NavButton--prev {
      left: 0;
    }
    .DayPicker-NavButton--next {
      right: 0;
    }
  }

}
