/* .container:has(+ figure[data-rehype-pretty-code-figure]) {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 0 !important;
}

.container + figure[data-rehype-pretty-code-figure] > div[data-language] {
  margin-top: 0 !important;
  border-top: 0 !important;
  border-radius: var(--radius-4) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
} */
