@import '../style/constants.scss';
@import '../style/mixins.scss';

.footer {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  padding: 1em 0;
  margin-top: 3em;
  @include small-screen() {
    padding-bottom: 60px;
  }
}

.container {
  font-size: 0.875em;
  @include small-screen() {
    text-align: center;
    & > div:first-child {
      padding-bottom: 10px;
    }
  }
  @include wide-screen() {
    display: flex;
    align-items: center;
      & > div:first-child {
      padding-right: 20px;
    }
    & > div:last-child {
      flex: 1 0 0;
      padding-left: 20px;
    }
  }
}