body {
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: #4A90E2;
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size: 1.75rem;
  margin: 1em 0;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1em 0;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  margin: 1em 0;
}

h4 {
  font-weight: 500;
  font-size: 1rem;
  margin: 1em 0;
}

p, ul, ol {
  line-height: 1.5em;
}

strong, b {
  font-weight: 500;
}

code {
  font-family: Inconsolata,
    SFMono-Regular,
    Menlo,
    Consolas,
    Monaco,
    'Andale Mono',
    'Ubuntu Mono',
    monospace;
  background: #f7f7f7;
}

blockquote {
  border-left: 4px solid #ffc107;
  margin-left: 0;
  margin-right: 0;
  padding: .1em 1em;
  background: #fffdee;
}

h1 code, h2 code, h3 code, p code, ul code, td code {
  padding: .1em .3em;
  font-size: 13px;
  display: inline-block;
}

.wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  padding-top: 0rem;
}

@media screen and (min-width: 640px) {
  .container {
    padding-top: 64px;
  }
}

header {
  background: #f7f7f7;
  width: 100%;
}

@media screen and (min-width: 640px) {
  header {
    position: fixed;
    height: 52px;
    z-index: 1;
  }
}

header .nav-home {
  vertical-align: middle;
  display: inline-block;
  margin-right: 1rem;
}

@media screen and (max-width: 640px) {
  header .nav-home {
    padding-top: 1em;
    text-align: center;
    width: 100%;
    display: block;
  }
}

header nav {
  display: flex;
  vertical-align: middle;
  text-transform: uppercase;
}

@media screen and (min-width: 640px) {
  header nav {
    display: inline-flex;
    width: calc(100% - 271px);
  }
}

header nav ul {
  padding: 0;
  display: inline-flex;
}

header nav ul li {
  padding: 0 .4rem;
  display: inline-block;
}

@media screen and (min-width: 640px) {
  header nav ul li {
    padding: 0 1rem;
  }
}

header nav ul li:first-child {
  padding-left: 0;
}

@media screen and (min-width: 640px) {
  header nav ul li:last-child {
    padding-right: 0;
  }
}

header nav ul li img {
  display: inline-block;
}

@media screen and (max-width: 360px) {
  header nav ul.nav-external {
    display: none;
  }
}

header nav ul.nav-external {
  flex: 1;
  justify-content: flex-end;
}

header nav .nav-github {
  background-image: url('../images/github.png');
  background-size: 18px;
  background-repeat: no-repeat;
  padding-left: 24px;
}

.github-button {
  visibility: hidden;
}

.anchor {
  display: block;
  position: relative;
  top: -62px;
  visibility: hidden;
}

.content {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 640px) {
  .content {
    display: flex;
    flex-direction: row;
  }
}

.nav-content {
  margin-top: 1rem;
  padding-top: 0;
}

@media screen and (max-width: 640px) {
  .nav-content {
    border-top: 1px solid #DCE0E0;
    margin-bottom: 1em;
    padding-top: 1em;
  }
}

@media screen and (min-width: 640px) {
  .nav-content {
    width: 270px;
  }
}

.nav-content h3:first-child {
  margin-top: 0;
}

.nav-content h4 {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: normal;
  margin-bottom: .1rem;
}

.nav-content h4 + ul {
  margin-top: .5rem;
}

.nav-content .sticky {
  position: sticky;
  top: calc(64px + 1rem);
}

.nav-content ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

.nav-content li {
  padding: .25em 0;
}

.inner-content {
  margin-top: 2em;
}
@media screen and (min-width: 640px) {
  .inner-content {
    width: calc(100% - 270px);
    margin-top: 1em;
  }
}

.inner-content h1.inner-content-title {
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 1rem;
}

a.edit-page-link {
  margin-top: 1em;
  float: right;
}

input {
  -webkit-appearance: none;
  padding: .5rem 1rem;
  border: 1px solid #DCE0E0;
  color: #565A5C;
  font-size: 16px;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: center;
  font-weight: 300;
}

select {
  appearance: none;
  padding: 6px 0 6px 30px;
  border: 0;
  font-size: 0.875rem;
  border: 1px solid #eaeaea;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: center;
  font-weight: 300;
  border-radius: 0;
  background-color: #FFF;
  margin: 0 auto;
  display: inline-block;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjEycHgiIGhlaWdodD0iMTJweCIgdmlld0JveD0iMCAwIDEyIDEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMy4wMDAwMDAsIDAuMDAwMDAwKSIgZmlsbD0iIzU2NUE1QyI+CiAgICAgICAgICAgIDxwb2x5Z29uIHBvaW50cz0iMy41IDAgNyA1IDAgNSAiPjwvcG9seWdvbj4KICAgICAgICAgICAgPHBhdGggZD0iTTAsNyBMNyw3IEwzLjUsMTIgTDAsNyBaIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
  background-position: .75rem center;
  background-repeat: no-repeat;
}

.example-result {
  text-align: center;
  margin-bottom: 2em;
}

table {
  font-size: .875em;
  border: 1px solid #EAEAEA;
  border-collapse: collapse;
}

table td {
  padding: 0.5em .75em;
  border: 1px solid #EAEAEA;
  vertical-align: top;
}

h3:target:before {
  position: absolute;
  left: -36px;
  width: 14px;
  content: '☛';
  top: 0px;
  font-size: 32px;
}

.api h3 {
  position: relative;
  padding-top: 1em;
  border-top: 1px solid #8b9898;
}

footer {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f7f7f7;
}

footer li, footer p {
  font-size: 0.75rem;
}

@media screen and (min-width: 640px) {
  footer .footer-content {
    display: flex;
  }

  footer .footer-content section {
    flex: 1 0 0;
  }
  footer .footer-content section:not(:last-child) {
    padding-right: 2em;
  }

  .footer-logo {
    max-width: calc(270px - 2em);
  }
}

footer h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: .875rem;
  margin-top: .5em;
}
