{
  "rules": {
    "max-len": 0,
    "no-console": 0,
    "no-return-assign": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-spacing": [2, "always"],
    "import/imports-first": 0
  },
  "env": {
    "es6": true,
    "mocha": true,
    "browser": false
  }
}
