.custom-month-grid {
  overflow: hidden;
}

.custom-weekdays {
  position: relative;
  z-index: 1;
  background-color: var(--ifm-background-color);
}

@keyframes caption-prev-enter {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes caption-prev-exit {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}

@keyframes caption-next-enter {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes caption-next-exit {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}

.animate-caption_prev_enter {
  animation: caption-prev-enter var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}
.animate-caption_prev_exit {
  animation: caption-prev-exit var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

.animate-caption_next_enter {
  animation: caption-next-enter var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

.animate-caption_next_exit {
  animation: caption-next-exit var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

@keyframes weeks_prev_enter {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes weeks_prev_exit {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes weeks_next_enter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes weeks_next_exit {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-weeks_prev_enter {
  animation: weeks_prev_enter var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}
.animate-weeks_prev_exit {
  animation: weeks_prev_exit var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

.animate-weeks_next_enter {
  animation: weeks_next_enter var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

.animate-weeks_next_exit {
  animation: weeks_next_exit var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}
