:root {
  --rdp-color-primary: #3f5efb;
  --rdp-color-secondary: #fc466b;
  --rdp-month-margins: 0.5em;
  --rdp-caption-margin-bottom: 0.75em;
  --rdp-caption-font-weight: bold;
  --rdp-caption-font-size: larger;
}

.rdp {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
}

.rdp .rdp-months {
  display: flex;
}

.rdp .rdp-caption {
  margin-bottom: var(--rdp-caption-margin-bottom);
  text-align: left;
  font: var(--rdp-caption-font-weight);
  font-weight: var(--rdp-caption-font-weight);
  font-size: var(--rdp-caption-font-size);
}

.rdp[dir='rtl'] .rdp-caption {
  text-align: right;
}

.rdp .rdp-month {
  margin: var(--rdp-month-margins);
}

.rdp .rdp-table {
  border-collapse: collapse;
}

.rdp .rdp-head-cell {
  padding-bottom: 0.5em;
  font-size: x-small;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.rdp .rdp-row-head {
  min-width: 1.25em;
  text-align: right;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  font-size: x-small;
}
.rdp .rdp-cell {
  text-align: center;
}

.rdp .rdp-nav {
  position: absolute;
  top: 0.25em;
  right: 0;
  display: flex;
  margin-top: var(--rdp-month-margins);
  margin-right: var(--rdp-month-margins);
}
.rdp[dir='rtl'] .rdp-nav {
  right: auto;
  left: 0;
}

.rdp .rdp-nav-next,
.rdp .rdp-nav-prev {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: default;
  margin: 0;
  position: relative;
  padding: 5px 7px;
}

.rdp .rdp-nav-next svg path,
.rdp .rdp-nav-prev svg path {
  fill: currentColor;
}

.rdp .rdp-nav-next:disabled,
.rdp .rdp-nav-prev:disabled {
  opacity: 0.15;
}
.rdp .rdp-nav-next {
  margin-left: 0.25em;
}

.rdp .rdp-nav-prev {
  margin-right: 0.25em;
}

.rdp .rdp-day {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  min-width: 2.2em;
  height: 2.2em;
  border: 2px solid transparent;
  border-radius: 100%;
}

.rdp .rdp-months:focus,
.rdp .rdp-day:focus {
  outline-offset: 0;
  outline-style: auto;
  outline-width: 3px;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
}

.rdp .rdp-day[role='button'] {
  cursor: default;
}

.rdp .rdp-day_disabled {
  opacity: 0.25;
}
.rdp .rdp-day_outside {
  opacity: 0.25;
}
.rdp .rdp-day_today {
  position: relative;
  border-color: var(--rdp-color-secondary);
  font-weight: bold;
}
.rdp .rdp-day_selected {
  border-radius: 100%;
  background-color: var(--rdp-color-primary);
  color: white;
}
