:root {
  --rdp-color-primary: #3f5efb;
  --rdp-color-secondary: #fc466b;
}

.rdp {
  position: relative;

  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rdp .rdp-months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rdp .rdp-caption {
  margin-bottom: 0.75em;
  text-align: left;
  font-weight: bold;
  font-size: larger;
}

.rdp[dir='rtl'] .rdp-caption {
  text-align: right;
}

.rdp .rdp-month {
  /* Month table container */
}
.rdp .rdp-table {
  /* Month table */
  border-collapse: collapse;
}
.rdp .rdp-body {
  /* Tbody element in the table */
}

.rdp .rdp-head {
  /* Head element (weekday names) */
}
.rdp .rdp-head-row {
  /* Head element (weekday names) row */
}
.rdp .rdp-head_weeknumber {
  font-variant-numeric: tabular-nums;
}
.rdp .rdp-head-cell {
  padding-bottom: 0.5em;
  font-size: x-small;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.rdp .rdp-row {
  /* Week row */
}
.rdp .rdp-row_head {
  min-width: 1.25em;
  text-align: right;
  font-weight: 500;
  font-size: x-small;
}
.rdp .rdp-cell {
  /* Week day table cell */
  text-align: center;
}

.rdp .rdp-nav {
  position: absolute;
  top: 0.25em;
  right: 0;
  display: flex;
}
.rdp[dir='rtl'] .rdp-nav {
  right: auto;
  left: 0;
}

.rdp .rdp-nav-next,
.rdp .rdp-nav-prev {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: default;
  margin: 0;
  position: relative;
  padding: 5px 7px;
}

.rdp .rdp-nav-next svg path,
.rdp .rdp-nav-prev svg path {
  fill: currentColor;
}

.rdp .rdp-nav-next:disabled,
.rdp .rdp-nav-prev:disabled {
  opacity: 0.15;
}
.rdp .rdp-nav-next {
  margin-left: 0.25em;
}

.rdp .rdp-nav-prev {
  margin-right: 0.25em;
}

.rdp .rdp-day {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  min-width: 2.2em;
  height: 2.2em;
  border: 2px solid transparent;
}

.rdp .rdp-day[role='button'] {
  cursor: default;
}

.rdp .rdp-day_disabled {
  opacity: 0.25;
}
.rdp .rdp-day_outside {
  opacity: 0.25;
}
.rdp .rdp-day_today {
  position: relative;

  border-color: var(--rdp-color-secondary);
  border-radius: 100%;
  font-weight: bold;
}
.rdp .rdp-day_selected {
  border-radius: 100%;
  background-color: var(--rdp-color-primary);
  color: white;
}
