.HeaderLink a {
  @apply rounded-md bg-transparent px-3 py-1;
}

.Headerlink a {
  text-decoration: none !important;
}

.HeaderLink[data-active="true"] a {
  background-color: var(--accent-a9);
  color: white;
}
