.ul,
.ol {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding-left: var(--space-4);
  margin: var(--space-4) var(--space-2);
}

.ul {
  list-style-type: disc;
}

.ol {
  list-style-type: decimal;
}

.ul li,
.ol li {
  margin-left: var(--space-2);
}

.ul .ul {
  margin-top: var(--space-2);
  margin-bottom: 0;
}
