.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-2);
  transition: background-color 50ms linear;
  user-select: none;
  min-height: var(--space-6);
  color: var(--slate-11);
}

.link:not(:last-of-type) {
  margin-bottom: 1px;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  box-shadow:
    inset 0 0 0 1px var(--slate-8),
    0 0 0 1px var(--accent-8);
}

.link:not([href]) {
  color: var(--slate-a10);
}

.link.active {
  background-color: var(--slate-a4);
  border-left: 2px solid var(--accent-a10);
  padding-left: calc(var(--space-3) - 2px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--slate-12);
}

@media (hover: hover) {
  .link[href]:hover {
    background-color: var(--slate-a3);
  }
  .link.active:hover {
    background-color: var(--slate-a5);
  }
}
