.Table {
  @apply mb-8;
}

.Table tr {
  color: var(--gray-12);
}

.Table thead tr th {
  font-weight: 700;
}

.Table th,
.Table td {
  background-color: var(--table-row-background-color);
  box-shadow: var(--table-row-box-shadow);
  box-sizing: border-box;
  vertical-align: inherit;
  padding: var(--table-cell-padding);
  height: var(--table-cell-min-height);
}
