.HeaderLink {
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-2);
  line-height: 16px;
  letter-spacing: var(--letter-spacing-2);
  position: relative;
  color: var(--slate-a11);
  outline: 0;
}

.HeaderLink[data-state='active'] {
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}

/* Downscale on small devices */
@media (max-width: 369px) {
  .HeaderLink {
    font-size: 13px;
  }
}

@media (min-width: 520px) {
  .HeaderLink {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
  }
}

@media (hover: hover) {
  .HeaderLink:hover {
    color: var(--slate-12);
  }
}

.HeaderLink:focus-visible {
  color: var(--slate-12);
}

.HeaderLink[data-state='active'] {
  color: var(--slate-1);
}

html[class^='dark'] .HeaderLink[data-state='active'] {
  color: var(--slate-12);
}

.HeaderLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  border-radius: var(--radius-2);
}

.HeaderLink[data-state='active'] {
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}

@media (min-width: 370px) {
  .HeaderLink {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
  }
}

@media (hover: hover) {
  .HeaderLink:hover {
    background-color: var(--accent-a3);
  }
}

.HeaderLink:focus-visible {
  box-shadow: 0 0 0 2px var(--accent-a8);
}

@media (hover: hover) {
  .HeaderLink:focus-visible:where(:hover) {
    background-color: var(--accent-a3);
  }
}

.HeaderLink[data-state='active'] {
  font-weight: bold;
  background-color: var(--accent-a9);
}
