.ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding-left: var(--space-4);
  list-style-type: unset;
  margin: var(--space-4) var(--space-2);
}

.ul li {
  margin-left: var(--space-4);
}

.ul .ul {
  margin-top: var(--space-2);
  margin-bottom: 0;
}
