:root {
  /* The accent color used for selected days and ui elements. */
  --rdp-accent-color: blue;

  /* The font family used by the calendar. (`inherited` won't work here) */
  --rdp-font-family: system-ui;

  /* The gap between the months in the multi-month view. */
  --rdp-months-gap: 2rem;

  /* The font used for the day cells. */
  --rdp-day-font: inherit;

  /* The width of the day cells. */
  --rdp-day-width: 2.75rem;

  /* The height of the day cells. */
  --rdp-day-height: 2.75rem;

  /* The border of the day cells. */
  --rdp-day-border: 2px solid transparent;

  /* The border radius of the day cells. */
  --rdp-day-border-radius: 100%;

  /* The opacity of the days outside the current month. */
  --rdp-outside-opacity: 0.75;

  /* The opacity of the disabled days. */
  --rdp-disabled-opacity: 0.5;

  /* The border of the selected days. */
  --rdp-selected-border: 2px solid var(--rdp-accent-color);

  /* The font of the selected days. */
  --rdp-selected-font: bold large var(--rdp-font-family);

  /* The color of the today's date. */
  --rdp-today-color: var(--rdp-accent-color);

  /* The height of the navigation bar. */
  --rdp-nav-height: 2.75rem;

  /* The width of the navigation buttons. */
  --rdp-nav-button-width: 2.25rem;

  /* The height of the navigation buttons. */
  --rdp-nav-button-height: 2.25rem;

  /* The opacity of the disabled navigation buttons. */
  --rdp-nav-button-disabled-opacity: 0.5;

  /* The border radius of the navigation buttons. */
  --rdp-nav-button-border-radius: 100%;

  /* The height of the week number cells. */
  --rdp-week_number-height: var(--rdp-day-height);

  /* The width of the week number cells. */
  --rdp-week_number-width: var(--rdp-day-width);

  /* The font of the week number cells. */
  --rdp-week_number-font: 400 small var(--rdp-font-family);

  /* The border radius of the week number. */
  --rdp-week_number-border-radius: 100%;

  /* The border of the week number. */
  --rdp-week_number-border: 2px solid transparent;

  /* The opacity of the week number. */
  --rdp-week_number-opacity: 0.75;

  /* The font of the weekday. */
  --rdp-weekday-font: 500 smaller var(--rdp-font-family);

  /* The opacity of the weekday. */
  --rdp-weekday-opacity: 0.75;

  /* THe padding of the weekday. */
  --rdp-weekday-padding: 0.25rem 0.75rem;

  /* The text alignment of the weekday cells. */
  --rdp-weekday-text-align: center;

  /* The font of the month caption. */
  --rdp-month-caption-font: bold larger var(--rdp-font-family);

  /* The color of the range background. */
  --rdp-range-background-color: var(--rdp-accent-color);

  /* The color of the range text. */
  --rdp-range-color: white;
}

.button_next,
.button_previous {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  font: inherit;
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;

  border-radius: var(--rdp-nav-button-border-radius);
  width: var(--rdp-nav-button-width);
  height: var(--rdp-nav-button-height);
}

.button_next:disabled,
.button_previous:disabled {
  opacity: var(--rdp-nav-button-disabled-opacity);
  cursor: revert;
}

.calendar {
  display: inline-block;
  position: relative;
}

.calendar,
.calendar * {
  box-sizing: border-box;
}

.day {
  justify-content: center;
  align-items: center;
  display: flex;

  width: var(--rdp-day-width);
  height: var(--rdp-day-height);
  border: var(--rdp-day-border);
  border-radius: var(--rdp-day-border-radius);
  font: var(--rdp-day-font);
}

.caption_label {
  z-index: 1;

  position: relative;
  display: inline-flex;
  align-items: center;

  white-space: nowrap;
  border: 0;
}

.chevron {
  display: inline-block;
  fill: var(--rdp-accent-color);
}

.calendar[dir="rtl"] .chevron {
  transform: rotate(180deg);
}

.calendar[dir="rtl"] .chevron {
  transform: rotate(180deg);
  transform-origin: 50%;
}

.dropdown_nav {
  position: relative;
  display: inline-flex;
}
.dropdown {
  z-index: 2; /* Remove ? */

  /* Reset */
  appearance: none;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  border: none;
  background-color: transparent;
  line-height: inherit;
  /* font: 1rem; */
}

.dropdown[disabled] {
  opacity: unset;
  color: unset;
}

.dropdown_root {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.dropdown_root::after {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}

.month_caption {
  display: flex;
  align-content: center;
  height: var(--rdp-nav-height);
  font: var(--rdp-month-caption-font);
}

.months {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rdp-months-gap);
  justify-content: center;
}

.nav {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;

  display: flex;
  align-items: center;

  height: var(--rdp-nav-height);
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.has_week_numbers .week {
  grid-template-columns: repeat(8, 1fr);
}

.weekday {
  opacity: var(--rdp-weekday-opacity);
  padding-block: var(--rdp-weekday-padding);
  font: var(--rdp-weekday-font);
  text-align: var(--rdp-weekday-text-align);
  text-transform: var(--rdp-weekday-text-transform);
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.has_week_numbers .weekdays {
  grid-template-columns: repeat(8, 1fr);
}

.week_number {
  justify-content: center;
  align-items: center;
  display: flex;

  opacity: var(--rdp-week_number-opacity);
  font: var(--rdp-week_number-font);
  height: var(--rdp-week_number-height);
  width: var(--rdp-week_number-width);
  border: var(--rdp-week_number-border);
  border-radius: var(--rdp-week_number-border-radius);
}
.week_number[data-onclick] {
  cursor: pointer;
}

.week_number[data-interactive] .weekday {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--rdp-weekday-width);
  height: var(--rdp-weekday-height);
}

/* DAY MODIFIERS */

.today:not(.outside) {
  color: var(--rdp-today-color);
}

.selected,
.selected.outside {
  font: var(--rdp-selected-font);
  border: var(--rdp-selected-border);
}

.outside {
  opacity: var(--rdp-outside-opacity);
}

.disabled {
  opacity: var(--rdp-disabled-opacity);
  cursor: revert;
}

.hidden {
  visibility: hidden;
}

.range_start {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.range_start.selected,
.range_end.selected,
.range_middle.selected {
  border-color: transparent;
  background-color: var(--rdp-range-background-color);
  color: var(--rdp-range-color);
}

.range_end {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.range_end.range_start {
  border-radius: var(--rdp-day-border-radius);
}

.range_middle {
  border-radius: 0;
}

.focusable {
  cursor: pointer;
}

.footer,
.months_dropdown,
.month_wrapper,
.month,
.weeks,
.no_weekdays,
.years_dropdown {
  /* These classes are not used by the default style, but are available to use */
  /* Keep anyway for the CSS type definition. */
}
