:root {
  --rdp-accent-color: blue;
  --rdp-font-family: system-ui;
  --rdp-months-gap: 2rem; /* The gap between the months, when multiple months are displayed */

  --rdp-day-font: inherit;
  --rdp-day-width: 2.75rem;
  --rdp-day-height: 2.75rem;

  --rdp-day-border: 2px solid transparent;
  --rdp-day-border-radius: 100%;

  --rdp-day_outside-opacity: 0.5;
  --rdp-day_disabled-opacity: 0.5;
  --rdp-day_excluded-opacity: 0.5;
  --rdp-day_selected-border: 2px solid var(--rdp-accent-color);
  --rdp-day_selected-font: bold large var(--rdp-font-family);
  --rdp-day_today-color: var(--rdp-accent-color);

  --rdp-nav-height: 2.75rem;
  --rdp-nav-button-width: 2.25rem;
  --rdp-nav-button-height: 2.25rem;
  --rdp-nav-button-disabled-opacity: 0.5;
  --rdp-nav-button-border-radius: 100%;

  --rdp-weeknumber-height: var(--rdp-day-height);
  --rdp-weeknumber-width: var(--rdp-day-width);
  --rdp-weeknumber-font: 500 smaller var(--rdp-font-family);
  --rdp-weeknumber-border-radius: 100%;
  --rdp-weeknumber-border: 2px solid transparent;
  --rdp-weeknumber-opacity: 0.5;

  --rdp-weekday-font: 500 smaller var(--rdp-font-family);
  --rdp-weekday-opacity: 0.5;
  --rdp-weekday-padding: 0.25rem 0.5rem;
  --rdp-weekday-text-align: center;

  --rdp-month-caption-font: bold larger var(--rdp-font-family);
  --rdp-opacity: 0.5;
}

.rdp-button_next,
.rdp-button_previous {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  font: inherit;
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;

  border-radius: var(--rdp-nav-button-border-radius);
  width: var(--rdp-nav-button-width);
  height: var(--rdp-nav-button-height);
}

.rdp-button_next:disabled,
.rdp-button_previous:disabled {
  opacity: var(--rdp-nav-button-disabled-opacity);
  cursor: default;
}

.rdp-calendar {
  display: inline-block;
  position: relative;
}

.rdp-calendar,
.rdp-calendar * {
  box-sizing: border-box;
}

.rdp-day {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;

  width: var(--rdp-day-width);
  height: var(--rdp-day-height);
  border: var(--rdp-day-border);
  border-radius: var(--rdp-day-border-radius);
  font: var(--rdp-day-font);
}

.rdp-caption_label {
  z-index: 1;

  position: relative;
  display: inline-flex;
  align-items: center;

  white-space: nowrap;
  border: 0;
}

.rdp-chevron {
  display: inline-block;
  fill: var(--rdp-accent-color);
}

.rdp[dir="rtl"] .rdp-chevron {
  transform: rotate(180deg);
}

.rdp[dir="rtl"] .rdp-chevron {
  transform: rotate(180deg);
  transform-origin: 50%;
}

.rdp-dropdown_nav {
  position: relative;
  display: inline-flex;
}
.rdp-dropdown {
  z-index: 2; /* Remove ? */

  /* Reset */
  appearance: none;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  border: none;
  background-color: transparent;
  line-height: inherit;
  /* font: 1rem; */
}

.rdp-dropdown[disabled] {
  opacity: unset;
  color: unset;
}

.rdp-dropdown_root {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rdp-dropdown_root::after {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}

.rdp-month_caption {
  display: flex;
  align-content: center;
  height: var(--rdp-nav-height);
  font: var(--rdp-month-caption-font);
}

.rdp-months {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rdp-months-gap);
  justify-content: center;
}

.rdp-nav {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;

  display: flex;
  align-items: center;

  height: var(--rdp-nav-height);
}

.rdp-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.rdp-week_numbers .rdp-week {
  grid-template-columns: repeat(8, 1fr);
}

.rdp-weekday {
  opacity: var(--rdp-weekday-opacity);
  padding-block: var(--rdp-weekday-padding);
  font: var(--rdp-weekday-font);
  text-align: var(--rdp-weekday-text-align);
  text-transform: var(--rdp-weekday-text-transform);
}

.rdp-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.rdp-week_numbers .rdp-weekdays {
  grid-template-columns: repeat(8, 1fr);
}

.rdp-weeknumber {
  justify-content: center;
  align-items: center;
  display: flex;

  opacity: var(--rdp-weeknumber-opacity);
  font: var(--rdp-weeknumber-font);
  height: var(--rdp-weeknumber-height);
  width: var(--rdp-weeknumber-width);
  border: var(--rdp-weeknumber-border);
  border-radius: var(--rdp-weeknumber-border-radius);
}

.rdp-weekday {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--rdp-weekday-width);
  height: var(--rdp-weekday-height);
}

/* DAY MODIFIERS */

.rdp-today:not(.rdp-outside) {
  color: var(--rdp-day_today-color);
}

.rdp-selected,
.rdp-selected.rdp-outside {
  font: var(--rdp-day_selected-font);
  border: var(--rdp-day_selected-border);
}

.rdp-outside {
  opacity: var(--rdp-day_outside-opacity);
}

.rdp-disabled {
  opacity: var(--rdp-day_disabled-opacity);
  cursor: default;
}

.rdp-excluded:not(.rdp-selected) {
  opacity: var(--rdp-day_excluded-opacity);
  cursor: default;
}

.rdp-hidden {
  visibility: hidden;
}

.rdp-range_start:not(.rdp-range_end) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.rdp-range_end:not(.rdp-range_start) {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.rdp-range_end.rdp-range_start {
  border-radius: var(--rdp-day-border-radius);
}

.rdp-range_middle {
  border-radius: 0;
}
