$background-color: #fafafa;
$background-color-alt: aliceblue;
$border-color: #f1f1f1;
$quote-border: #ffc107;
$quote-background: #fffdee;

$link-color: #4a90e2;
$link-color-hover: #52a2ff;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-mono: Inconsolata, SFMono-Regular, Menlo, Consolas, Monaco, "Andale Mono", Ubuntu Mono, monospace;
