/* CSS for website */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}
p code {
    color: #DD4A68;
}

.book .book-body .page-wrapper .page-inner section.normal code,
.book .book-body .page-wrapper .page-inner section.normal pre,
code, pre {
    font-family: Inconsolata, Menlo, Consolas, "Liberation Mono", Courier, monospace;
}

.sharing-link {
  display: none !important;
}

#edit-link span {
  font-family: sans-serif !important;
}
pre {
    line-height: 1.3em;
}

code[class*="language-"], pre[class*="language-"] {
    line-height: 1.1em;
}

section ul, section ol {
    margin-bottom: 1em !important;
}

section h1, section h2, section h3 {
  border-bottom: 1px solid #EAEAEA;
}

.book.font-family-1,
.book .book-summary {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}