name: package

on:
  workflow_call:
    inputs:
      publish:
        required: false
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      publish:
        description: Publish on npm
        required: false
        default: true
        type: boolean

jobs:
  print-env:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Publish: ${{ github.event.inputs.publish }}"
          echo "Deploy:  ${{ github.event.inputs.deploy }}"

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn workspace react-day-picker run typecheck

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn workspace react-day-picker run lint

  test:
    needs: [lint, typecheck]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn workspace react-day-picker run test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn workspace react-day-picker run build
      - uses: actions/upload-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist

  publish-on-npm:
    runs-on: ubuntu-latest
    needs: [build, test]
    if: ${{ github.event.inputs.publish == true }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
          always-auth: false
      - uses: actions/download-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist
      - run: echo "//<npm-registry>:8080/:_authToken=$NODE_AUTH_TOKEN" > ~/.npmrc
      - run: npm publish --dry-run
        working-directory: packages/react-day-picker
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
