name: react-day-picker

on:
  release:
    types: [published]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      publish:
        description: Publish on npm
        required: false
        default: false
        type: boolean

jobs:
  # print-env:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: |
  #         echo "publish=${{ github.event.inputs.publish || false }}"
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm typecheck

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint --max-warnings=0

  test:
    strategy:
      matrix:
        react-version: [16.8, "latest"]
    needs: [lint, typecheck]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm test
      - run: pnpm install react@${{ matrix.react-version }} react-dom@${{ matrix.react-version }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - uses: actions/upload-artifact@v4
        with:
          name: rdp-dist
          path: dist

  publish-on-npm:
    runs-on: ubuntu-latest
    needs: [build, test]
    if: ${{ github.event_name == 'release' || github.event.inputs.publish }}
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          registry-url: https://registry.npmjs.org/
          always-auth: false
      - uses: actions/download-artifact@v4
        with:
          name: rdp-dist
          path: dist
      - run: echo "//<npm-registry>:8080/:_authToken=$NODE_AUTH_TOKEN" > ~/.npmrc
      - run: npm publish --provenance --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
