name: Performance Test

on:
  pull_request:
    types: [labeled]
    branches:
      - main
  push:
    branches:
      - main

jobs:
  run-performance-test:
    if: contains(github.event.label.name, 'performance')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: 20.16
          cache: pnpm
      - run: pnpm install --frozen-lockfile

      - name: Install dependencies
        run: pnpm install

      - name: Run examples app
        run: pnpm --filter performance-tests start-server &

      - name: Wait for server to start
        run: npx wait-on http://localhost:4173

      - name: Run performance test
        run: node performance-tests/capture.mjs

      - name: Upload report
        uses: actions/upload-artifact@v2
        with:
          name: performance-report
          path: reports/
