name: Performance Test

on:
  pull_request:
    types: [opened, synchronize, labeled]
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-react-day-picker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: 20.16
          cache: pnpm
      - run: pnpm install --frozen-lockfile
     
      - run: pnpm build
      - uses: actions/upload-artifact@v4
        with:
          name: rdp-dist
          path: dist

  run-performance-test:
    needs: [build-react-day-picker]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: browser-actions/setup-chrome@v1
        id: setup-chrome
      - run: |
          echo ${{ steps.setup-chrome.outputs.chrome-path }}
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: 20.16
          cache: pnpm
      - uses: actions/download-artifact@v4
        with:
          name: rdp-dist
          path: dist
      - run: pnpm install --frozen-lockfile
      - run: pnpm --filter performance-tests start-server &
      - run: pnpx wait-on http://localhost:4173 --timeout 5000
      - run: mkdir -p ./reports
      - run: node performance-tests/capture.mjs
      - uses: actions/upload-artifact@v4
        with:
          name: reports
          path: ./reports
