name: Publish

on:
  release:
    types: [created]

jobs:
  test-build-publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - name: Install Dependencies
        run: yarn install
      - name: Lint Files
        run: yarn coverage
      - name: Run Unit Tests
        run: yarn test
      - name: Build
        run: yarn build
      - name: Publish on npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - name: Archive dist
        uses: actions/upload-artifact@v1
        with:
          name: dist
          path: dist
