name: "Test react-day-picker"

on:
  pull_request:
    branches:
      - master
    paths:
      - "packages/**"
  push:
    branches:
      - master
    paths:
      - "packages/**"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - name: Install dependencies
        run: |
          yarn install --immutable
      - name: Run typecheck (react-day-picker)
        run: |
          yarn workspace react-day-picker run typecheck
      - name: Run lint (react-day-picker)
        run: |
          yarn workspace react-day-picker run lint --max-warnings 0
      - name: Run test (react-day-picker)
        run: |
          yarn workspace react-day-picker run test
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - name: Install dependencies
        run: |
          yarn install --immutable
      - name: Run build (react-day-picker)
        run: |
          yarn workspace react-day-picker run build
  test-website:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - name: Install dependencies
        run: |
          yarn install --immutable
      - name: Run build (react-day-picker)
        run: |
          yarn workspace react-day-picker run build
      - name: Run typecheck (website)
        run: |
          yarn workspace website run typecheck
      - name: Run test (website)
        run: |
          yarn workspace website run test
