name: Publish Website

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-react-day-picker:
    name: Build react-day-picker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn workspace react-day-picker run build
      - uses: actions/upload-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist

  test-website:
    name: Test website
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - uses: actions/download-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist
      - run: yarn install
      - run: yarn workspace website run typecheck
      - run: yarn workspace website run lint
      - run: yarn workspace website run test

  build-website:
    name: Test website

    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - uses: actions/download-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist
      - run: yarn install
      - run: yarn workspace website run build
      - uses: actions/upload-artifact@v3
        with:
          name: website-build
          path: website/build

  deploy-website:
    runs-on: ubuntu-latest
    needs: [build-website, test-website]
    if: ${{ github.event_name == 'release' || github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - uses: actions/download-artifact@v3
        with:
          name: website-build
          path: website/build
      - run: yarn install
      - run: yarn deploy
        working-directory: website
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
