name: website

on:
  release:
    types: [published]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      deploy:
        description: Deploy website
        required: false
        default: true
        type: boolean

jobs:
  # print-env:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: |
  #         echo "deploy=${{ github.event.inputs.deploy || false }}"

  build-react-day-picker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8.6.2
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - uses: actions/upload-artifact@v4
        with:
          name: rdp-dist
          path: dist

  test-website:
    needs: [build-react-day-picker]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8.6.2
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          cache: pnpm
      - uses: actions/download-artifact@v4
        with:
          name: rdp-dist
          path: dist
      - run: pnpm install --frozen-lockfile
      - run: pnpm -F website test

  typecheck-website:
    needs: [build-react-day-picker]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8.6.2
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          cache: pnpm
      - uses: actions/download-artifact@v4
        with:
          name: rdp-dist
          path: dist
      - run: pnpm install --frozen-lockfile
      - run: pnpm -F website typecheck

  build-website:
    needs: [build-react-day-picker]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8.6.2
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          cache: pnpm
      - uses: actions/download-artifact@v4
        with:
          name: rdp-dist
          path: dist
      - run: pnpm install --frozen-lockfile
      - run: pnpm -F website build
      - uses: actions/upload-artifact@v4
        with:
          name: website-build
          path: website/build

  deploy:
    runs-on: ubuntu-latest
    needs: [build-website, test-website, typecheck-website]
    if: ${{ github.event_name == 'release' || github.event.inputs.deploy }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8.6.2
      - uses: actions/setup-node@v4
        with:
          node-version: 18.16
          registry-url: https://registry.npmjs.org/
      - uses: actions/download-artifact@v4
        with:
          name: website-build
          path: website/build
      - uses: actions/download-artifact@v4
        with:
          name: rdp-dist
          path: dist
      - run: pnpm install --frozen-lockfile
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: website/build
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
