name: Website Deployment

on:
  release:
    types: [published]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      deploy:
        description: Deploy website
        required: false
        default: true
        type: boolean

jobs:
  print-env:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "deploy=${{ github.event.inputs.deploy || false }}"

  build-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.16
          cache: pnpm
      - run: pnpm install
      - run: pnpnm -F react-day-picker build
      - uses: actions/upload-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist

  test-website:
    needs: [build-package]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.16
          cache: pnpm
      - uses: actions/download-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist
      - run: pnpm install
      - run: pnpnm -F website typecheck
      - run: pnpnm -F website lint --max-warnings=0
      - run: pnpnm -F website test

  build-website:
    needs: [build-package]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.16
          cache: pnpm
      - uses: actions/download-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist
      - run: pnpm install
      - run: pnpnm -F website build
      - uses: actions/upload-artifact@v3
        with:
          name: website-build
          path: website/build

  deploy:
    runs-on: ubuntu-latest
    needs: [build-website, test-website]
    if: ${{ github.event_name == 'release' || github.event.inputs.deploy }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.16
          registry-url: https://registry.npmjs.org/
      - uses: actions/download-artifact@v3
        with:
          name: website-build
          path: website/build
      - uses: actions/download-artifact@v3
        with:
          name: rdp-dist
          path: packages/react-day-picker/dist
      - run: pnpm install
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: website/build
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
